html {
    font-size: 16px;
   
  }
  body{
    background-color: #FFFAF0;
    font-family: 'Open Sans', sans-serif;
    padding: auto;
    margin: auto;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
  }
  /*header*/
  header{
    background-color: #D3D3D3;
    width:100%;
    height: 18rem;
    padding-top:0.1rem;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    flex-direction: row; 
    
  }
  header h1 {
    font-size: 7rem;
    color: #191970;
    text-align: center;
    margin: auto 0;
    
  }
  nav ul{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left:5rem;
    margin-right:0;
    width: 100%;
  
    
  }
  nav ul li{
   margin: 13rem 2rem 0 1rem;
  }
  nav a {
    text-decoration: underline; 
    color: #333; 
    font-weight: bold;
    font-size: 1.25rem;
  }
  @media only screen and (max-width: 1400px) {
    
    header{
      background-color: #D3D3D3;
      width:100%;
      height: 18rem;
      padding-top:0.1rem;
      display: flex; 
      align-items: center;
      justify-content: space-around;
      flex-direction: column; 
  }
  header h1 {
    font-size: 7rem;
    color: #191970;
    text-align: center;
    margin-bottom: -10rem;
}
nav ul{
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: -2rem;
  width: 100%;
  }
}

@media only screen and (max-width: 700px){
  header{
    background-color: #D3D3D3;
    width:100%;
    height: 18rem;
    padding-top:0.1rem;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    flex-direction: column; 
}
header h1 {
  font-size: 4.5rem;
  color: #191970;
  text-align: center;
  margin-bottom: -10rem;
}
nav ul{
display: flex; 
flex-direction: row; 
justify-content: center;
align-items: center;
list-style: none;
margin-left: -2rem;
width: 100%;
}
}

  /*mission*/
  .mission{
   text-align: center;
   font-size: 2rem;
 
  }
  .mission h2{
    margin-bottom:0;
  }
  .mission p{
    font-style: italic;
    color: #008B8B;
  }
  
  
  /*portfolio*/
  .portfolio{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: #D3D3D3;
    padding-bottom: 3rem;
  }
  .portfolio h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  .portfolio h4{
    font-size: 1.2rem;
    text-align: center;
  }
  .properties {
    display:flex; 
    flex-direction:row; 
    justify-content:center;
    justify-items: center;
    align-items: center;
    flex-wrap:wrap;
    width: 80%;
  
  }
  .properties img{
    width: 42rem;
    height: 25rem;
    max-width: 95%;
    overflow: hidden;
  }
  .properties p{
    text-align: center;
    font-size: 2rem;;
  }

  /*CEO*/
  .CEO{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .CEO::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/memento-media-SuDN17Hzudc-unsplash.jpg);
    background-size: cover;
    background-position: 50% 30%;
    opacity: 0.4;
    z-index: -1;

  }
  .CEO img{
    width: 22rem;
    height: 20rem;
    margin-top: 10rem;
    border-radius: 50%;
    
    
  }
  .CEO p{
    font-size: 1.25rem;
  }
  .CEO h3{
    font-size: 2rem;
    margin-top: -1rem;
  }

  /*footer*/
  footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #D3D3D3;
  } 
  footer a{
    text-decoration: none; 
  }
